<!-- Banner Start -->
<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://imgs3.freeup.app/400x400/e20fb31905850313ec44d8de0ce12813.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Banner End -->
<div class="contain mt-3 p-4">
  <!-- Fiction Books -->
  <div class="row" >
    <h4 class="text-white">Fiction</h4>
    <div class="rowposter mt-3 p-2">
      <ng-container  *ngFor="let book of fictionBooks">
        <img
        *ngIf="book.cover_id"
          src="https://covers.openlibrary.org/b/id/{{ book.cover_id }}-L.jpg"
          class="rowing largeposter"
          alt=""
          [routerLink]="['/book_details', book.key]"
        />
        <!--Add router link-->
        <!-- <p>{{book.volumeInfo.imageLinks.thumbnail}}</p> -->
        <!-- <p>{{book.volumeInfo.title}}</p> -->
      </ng-container>
    </div>
  </div>

  <!-- Art Books -->
  <div class="row mt-4">
    <h4 class="text-white">Art</h4>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let book of artBooks">
        <img
        *ngIf="book.cover_id"
          src="https://covers.openlibrary.org/b/id/{{ book.cover_id }}-L.jpg"
          class="rowing largeposter"
          alt=""
          [routerLink]="['/book_details', book.key]"
        />
        <!--Add router link-->
        <!-- <p>{{book.volumeInfo.imageLinks.thumbnail}}</p> -->
        <!-- <p>{{book.volumeInfo.title}}</p> -->
      </ng-container>
    </div>
  </div>

  <!-- Business Books -->
  <div class="row mt-4" >
    <h4 class="text-white">Business</h4>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let book of businessBooks">
        <img
        *ngIf="book.cover_id"
          src="https://covers.openlibrary.org/b/id/{{ book.cover_id }}-L.jpg"
          class="rowing largeposter"
          alt=""
          [routerLink]="['/book_details', book.key]"
        />
        <!--Add router link-->
        <!-- <p>{{book.volumeInfo.imageLinks.thumbnail}}</p> -->
        <!-- <p>{{book.volumeInfo.title}}</p> -->
      </ng-container>
    </div>
  </div>

  <!-- Education Books -->
  <!-- <div class="row mt-4" *ngIf="educationBooks.length > 0"> -->
    <!-- <h4 class="text-white">Education</h4> -->
    <!-- <div class="rowposter mt-3 p-2"> -->
        <!-- <ng-container *ngFor="let book of educationBooks"> -->
            <!-- <img src={{book.volumeInfo.imageLinks.thumbnail}} class="rowing largeposter" alt=""> Add router link -->
            <!-- <p>{{book.volumeInfo.imageLinks.thumbnail}}</p> -->
            <!-- <p>{{book.volumeInfo.title}}</p> -->
        <!-- </ng-container> -->
    <!-- </div> -->
<!-- </div> -->

<!-- Travel books -->
<!-- <div class="row mt-4" *ngIf="travelBooks.length > 0">
  <h4 class="text-white">Travel</h4>
  <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let book of travelBooks">
          <img src={{book.volumeInfo.imageLinks.thumbnail}} class="rowing largeposter" alt=""> Add router link -->
          <!-- <p>{{book.volumeInfo.imageLinks.thumbnail}}</p> -->
          <!-- <p>{{book.volumeInfo.title}}</p> -->
      <!-- </ng-container>
  </div>
</div> -->

<!-- Science Books -->
<div class="row mt-4" >
  <h4 class="text-white">Science</h4>
  <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let book of scienceBooks">
        <img
        *ngIf="book.cover_id"
          src="https://covers.openlibrary.org/b/id/{{ book.cover_id }}-L.jpg"
          class="rowing largeposter"
          alt=""
          [routerLink]="['/book_details', book.key]"
        />
          <!-- <p>{{book.volumeInfo.imageLinks.thumbnail}}</p> -->
          <!-- <p>{{book.volumeInfo.title}}</p> -->
      </ng-container>
  </div>
</div>




</div>
